@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

:root {
  --xenpaper-bg: #0e151b;
  --xenpaper-bg-light: #18232d;
  --xenpaper-text: #ffffff;
  --xenpaper-placeholder: #198c8c;
  --xenpaper-focus: #115d5d;
  --xenpaper-cyan: #22cece;
  --xenpaper-blue: #3377ee;
  --xenpaper-solo: #ffd166;
  --xenpaper-font-mono: 'DM Mono', monospace;
  --xenpaper-font-copy: 'Nunito', sans-serif;

  --color-background: var(--xenpaper-bg);
  --color-background-soft: var(--xenpaper-bg-light);
  --color-background-mute: var(--xenpaper-bg);
  --color-border: var(--xenpaper-bg-light);
  --color-border-hover: var(--xenpaper-focus);
  --color-heading: var(--xenpaper-text);
  --color-text: var(--xenpaper-text);
}

html,
body,
#app {
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--xenpaper-text);
  background: var(--xenpaper-bg);
  line-height: 1.5em;
  font-family: var(--xenpaper-font-mono);
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font: inherit;
}
